.research-content-container{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.timeline-subheading{
  font-family: 'Rubik';
  padding-top: 10px !important;
}

.timeline-text{
  font-family: 'Rubik';
  font-size: 18px; 
  margin-top: 5px !important;
}

.timeline-text-right{
  font-family: 'Rubik';
  font-size: 18px; 
  margin-top: 5px !important;
  width: 80%;
}

.timeline-container{
  height: fit-content;
  padding-top: 1vh;
  padding-bottom: 1vh; 
}

.MuiTimelineDot-filledPrimary{
  background-color:#bc8f96 !important;
}

.MuiTimelineConnector-root{
  height: 55px;
}

.MuiTimelineContent-root{
  padding-top: 14px !important;
}



