.full-experience-wrapper{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
}

.experience-text-wrapper{
  display:flex;
  flex-direction:column;
  width:50%;
  height:50%;
  padding-right:5%;
  padding-bottom:5%;
}

.experience-image{
  border-style: solid;
  border-width: 0.06rem;
  border-color: black;
  border-radius: 30px;
  width: 50vw !important; 
  height: 60vh !important; 
  margin: 1rem; 
  margin-bottom: 10rem;
  margin-left:7rem;
}

.video-wrapper{
  margin:5%; 
  height:100%;
  width:50%;
  padding-left:5%;
}

.subheading{
  font-size: 20px;
  font-weight: bold;
  font-family:'Rubik';
  margin-left: 10%;
}

.description-text{
  font-size: 15px;
  font-family:'Rubik';
  margin-left: 10%;
}