.container-home {
  height: 100%;
  padding-bottom: 10%;
  color: white;
  background-color: #994636; 
}

.container-about{
  height: 100%;
  padding-bottom: 10%;
  color: white;
  background-color: #414770; 
}

.container-experience{
  height: 100%;
  padding-bottom: 10%;
  color: white;
  background-color: #eca982; 
}

.container-projects{
  height: 100%;
  padding-bottom: 10%;
  color: white;
  background-color: #679289; 
}

.container-contact{
  height: 100%;
  padding-bottom: 10%;
  color: white;
  background-color: #aaa6d6; 
}

.name{
  font-size: 50px;
  font-weight: bolder;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bio{
  font-size: 22px;
  margin-top: -2%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profile-pic{
  border-radius: 100%;
  width: 20%; 
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.resume-btn{
  width: 10rem !important;
  height: 4rem !important;
  line-height: 0% !important;
  background-color: white !important;
  color: black !important;
  font-weight: bold !important;
  font-size: 18px !important;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 3%;
}

.resume-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  align-items: center;
}

.content-container{
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  font-size: 40px;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.aboutBody{
  display: flex;
  font-size: 24px;
  margin-left: 10%;
  margin-right: 10%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: center !important;
  align-items: center !important;
  justify-self: center;
}

