.container-home {
  height: 100vw;
  color: white;
  /* background: linear-gradient(90deg, #DC9E82 50%, white 50%); */
  background-color: #994636; 
}

.container-about{
  height: 100vw;
  color: white;
  /* background: linear-gradient(90deg, #DC9E82 50%, white 50%); */
  background-color: #414770; 
}

.container-projects{
  height: 100vw;
  color: white;
  /* background: linear-gradient(90deg, #DC9E82 50%, white 50%); */
  background-color: #679289; 
}

.name{
  font-size: 50px;
  font-weight: bold;
}

.bio{
  font-size: 22px;
  margin-top: -2%;
}

.profile-pic{
  border-radius: 100%;
  width: 20%; 
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.resume-btn{
  margin-top: 30% !important;
  width: 10rem !important;
  height: 4rem !important;
  line-height: 0% !important;
  background-color: white !important;
  color: black !important;
  font-weight: bold !important;
  font-size: 18px !important;
}

.header{
  font-size: 40px;
  font-weight: bold
}

.content-container{
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}