.navcontainer{
  display: flex; 
  justify-content: space-around;
  background-color: #E2DCDE;
  width: 100%;
  height: 5%;
  padding-bottom: 3%;
  padding-top: 2%;
}

.page-link{
  color: #2D2D34 !important;
  font-weight: bolder !important;
  font-size: 2vh !important;
  font-family: 'Rubik' !important;
  margin-right: 8vh !important;
  margin-left: 8vh !important;
  
}

.page-link:hover{
  box-shadow:gray;
  text-decoration: 'underline' !important;
}

a:link {
  /* text-decoration: 'underline' !important; */
}



#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

.MuiButtonBase-root-MuiTab-root {
  margin: 0%; 
  text-decoration: 'underline' !important;
}

@media screen and (max-width: 70em) {
  /* .menu-item{

  } */

  /* .navcontainer {
    width: 0%;
    height: 0%;
  } */
  
}
