.navcontainer{
  display: flex; 
  justify-content: center;
  background-color: #E2DCDE;
  width: 100%;
  height: 5%;
  align-items: center;
  padding-bottom: 1%;
  padding-top: 1%;
}

.page-link{
  color: black !important;
  font-weight: bolder !important;
  font-size: 18px !important;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important; */
  font-family: 'Rubik'
}

.page-link:hover{
  box-shadow:gray;
}

a:link {
  text-decoration: none!important;
}

